<% layout('layouts/boilerplate') -%> 
<link rel="stylesheet" href="stylesheet/properties.css">
<link rel="stylesheet" href="/stylesheet/home.css">
<div class="row property">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img src="images/apartment.jpg" class="card-img-top" alt="...">
          <h5 class="card-title">Johannesburg sandton</h5>
          <p class="card-text">3 bedroom apartment from R8000</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img src="images/apartment.jpg" class="card-img-top" alt="...">
            <h5 class="card-title">Johannesburg sandton</h5>
            <p class="card-text">3 bedroom apartment from R8000</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="mt-2 contact">
    <h1 style="color: blanchedalmond;">EMAIL US </h1>
  <div>
      <form>
        <div class="row">
            <div class="col">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstname">
            </div>
            <div class="col">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastname">
            </div>
          </div>
        <div class="">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <label for="textarea">Message</label>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="textarea" style="height: 100px"></textarea>
          </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
      </form>
  </div>