<% layout('layouts/boilerplate') -%> 
<link rel="stylesheet" href="/stylesheet/about.css">
<link rel="stylesheet" href="/stylesheet/home.css">

<div class="secondcon" style="width:100%;">
    <h1 class="header">Irvine Sithole</h1>
    <h2 class="header">Property Owner</h2>
        <img src="/images/profile2.jpg" alt="profile">
    <p>A start up company, here in seek to help others to find affordable homes</p>
    <h3>Contact Details</h3>
    <p>Contact Number: 08682783894</p>
    <p>Email Adress: bighead@gmail.com</p>
</div>